body{
    background: rgb(0, 255, 94);
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: aqua;
    padding: 20px;
    margin-top: 0;
}

.content{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.flash{
    padding: 10px;
}

.flash.success{
    border: 1px solid black;
    background: yellow;
}

.flash.error{
    border: 1px solid black;
    background: red;
}