body{
    background: rgb(104, 33, 33);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 600px;
    margin: 0 auto;
}

.container h1{
    text-align: center;
}

.container form, .container h2{
    background: rgb(51, 135, 188);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 6px;
}